<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <title>Event-driven</title>


  <link rel="stylesheet" href="/style.css" />

</head>

<body>
  <div class="form-container">
    <h1>Employee Manager</h1><button class = "deptbutt">Create Department</button><button class = "rolebutt">Create Role</button>
    <button class = "leavebutt">Leave</button>
    <form class="form" method="post" id="form">
      <div class="form-group">
        <div class="form-div">
          <div>
            <label>First Name</label>
            <input type="text" name="first_name" id="first_name" class="form-control" />
          </div>

          <div>
            <label>Middle Name</label>
            <input type="text" name="middle_name" id="middle_name" class="form-control" />
          </div>

          <div>
            <label>Last Name</label>
            <input type="text" name="last_name" id="last_name" class="form-control" />
          </div>
        </div>

        <label>Address Line</label>
        <input type="text" name="address" id="address" class="form-control" />

        <div class="form-div">
          <div>
            <label>Barangay</label>
            <input type="text" name="barangay" id="barangay" class="form-control" />
          </div>
          <div>
            <label>Province</label>
            <input type="text" name="province" id="province" class="form-control" />
          </div>

          <div>
            <label>Country</label>
            <input type="text" name="country" id="country" class="form-control" />
          </div>
        </div>

        <div class="form-div">
          <div>
            <label>Zipcode</label>
            <input type="text" name="zipcode" id="zipcode" class="form-control" />
          </div>

          <div>
            <label>Department</label>
            <select class="form-select" id="dept_select" name="department">
            </select>
          </div>
          <div>
            <label>Role</label>
            <select class="form-select" id="type_select" name="type">
              <option value="NULL">--------</option>
            </select>
          </div>
          <div>
            <label>Status</label>
            <select class="form-select" id="status_select" name="status">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
              <option value="Resigned">Resigned</option>
            </select>
          </div>
        </div>

        <div class="form-div"></div>

        <div class="btn-div">
          <button type="submit" class="btn btn-outline-primary add-btn" id="add_employee">
            Add Employee
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <table class="table table-hover actual-table" id="employee_table">
      <thead>
        <tr> 
          <th>ID</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Address Line</th>
          <th>Barangay</th>
          <th>Province</th>
          <th>Country</th>
          <th>Zipcode</th>
          <th>Department</th>
          <th>Role</th>
          <th>Status</th>
          <th colspan="2" style="text-align: center">Actions</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

<div class="modal" tabindex="-1" id="action_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" id="sample_form">
        <div class="modal-header" id="dynamic_modal_title">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">First Name</label>
            <input type="text" name="first_name" id="tfirst_name" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Middle Name</label>
            <input type="text" name="middle_name" id="tmiddle_name" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input type="text" name="last_name" id="tlast_name" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Address</label>
            <input type="text" name="address" id="taddress" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Barangay</label>
            <input type="text" name="barangay" id="tbarangay" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Province</label>
            <input type="text" name="province" id="tprovince" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Country</label>
            <input type="text" name="country" id="tcountry" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Zipcode</label>
            <input type="text" name="zipcode" id="tzipcode" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Department</label>
            <select name="department" id="tdepartment" class="form-control">
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Role</label>
            <select name="role" id="trole" class="form-control">
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Status</label>
            <select name="status" id="tstatus" class="form-control">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
              <option value="Resigned">Resigned</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="id" id="id" />
          <input type="hidden" name="action" id="action" value="Add" />
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="action_button">Add</button>
        </div>
      </form>

      <form method="post" id="department_form">
        <div class="modal-header" id="department_form_title">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Department Name</label>
            <input type="text" name="dept_name" id="ddept_name" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Status</label>
            <select name="status" id="dstatus" class="form-control">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
              <option value="Resigned">Resigned</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="id" id="id" />
          <input type="hidden" name="action" id="deptaction" value="deptadd" />
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="add_dept_butt">Add</button>
        </div>
      </form>

      <form method="post" id="role_form">
        <div class="modal-header" id="role_form_title">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Department</label>
            <select name="department" id="rdepartment" class="form-control">
              <option value="EMPTY">EMPTY</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Role</label>
            <input type="text" name="role_name" id="rrole_name" class="form-control" />
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="id" id="deptid" />
          <input type="hidden" name="action" id="roleaction" value="roleadd" />
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="add_role_butt">Add</button>
        </div>
      </form>

      <form method="post" id="leave_form">
        <div class="modal-header" id="leave_form_title">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Employee ID</label>
            <select name="department" id="rdepartment" class="form-control">
              <option value="EMPTY">EMPTY</option>
              <option value="EMPTY">EMPTY</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Higher Employee ID</label>
            <select name="department" id="rdepartment" class="form-control">
              <option value="EMPTY">EMPTY</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Reason</label>
            <select name="department" id="rdepartment" class="form-control">
              <option value="EMPTY">Maternity Leave</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="id" id="id" />
          <input type="hidden" name="action" id="leaveaction" value="leave" />
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="leave_butt">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>

$(document).ready(function () {

  load_data();
  load_departments();

  function load_data() {
    $.ajax({
      url: "http://localhost:3000/employee/action",
      method: "POST",
      data: { action: 'fetch' },
      dataType: "JSON",
      success: function (data) {
        var html = '';
        if (data.data.length > 0) {
          for (var count = 0; count < data.data.length; count++) {
            html += `
                      <tr>
                          <td>`+ data.data[count].id + `</td>
                          <td>`+ data.data[count].fname + `</td>
                          <td>`+ data.data[count].mname + `</td>
                          <td>`+ data.data[count].lname + `</td>
                          <td>`+ data.data[count].address + `</td>
                          <td>`+ data.data[count].barangay + `</td>
                          <td>`+ data.data[count].province + `</td>
                          <td>`+ data.data[count].country + `</td>
                          <td>`+ data.data[count].zipcode + `</td>
                          <td>`+ data.data[count].dept_name + `</td>
                          <td>`+ data.data[count].role + `</td>
                          <td>`+ data.data[count].status + `</td>
                          <td><button type="button" class="btn btn-outline-info edit" data-id="`+ data.data[count].id + `">Edit</button>&nbsp;<button type="button" class="btn btn-outline-danger delete" data-id="` + data.data[count].id + `">Delete</button></td>
                      </tr>
                      `;
          }
          $("input").val("");
        } else {
          html = '<tr><td colspan="13" class="text-center">No data found</td></tr>';
        }

        $('#employee_table tbody').html(html);
      }
    });
  }
  function load_departments() {
    $.ajax({
      url: "http://localhost:3000/employee/departments", 
      method: "GET",
      data: { action: 'fetchdept' },
      dataType: "JSON",
      success: function(response) {
          // Clear existing options
          $('#tdepartment').empty();
          $('#rdepartment').empty();
          $('#dept_select').empty();

          // Populate options with received data
          response.data.forEach(function(department) {
              $('#tdepartment').append('<option value="' + department.id + '">' + department.dept_name + '</option>');
              $('#rdepartment').append('<option value="' + department.id + '">' + department.dept_name + '</option>');
              $('#dept_select').append('<option value="' + department.id + '">' + department.dept_name + '</option>');
          });
      },
      error: function(xhr, status, error) {
          console.error("Failed to load departments:", error);
      }
  });
  }
  function load_roles(departmentId, selectRoleId) {
    $.ajax({
      url: "http://localhost:3000/employee/roles", 
      method: "GET",
      data: { department_id: departmentId },
      dataType: "JSON",
      success: function(response) {
          $('#type_select').empty();
          $('#trole').empty();
          
          response.data.forEach(function(role) {
              $('#type_select').append('<option value="' + role.id + '">' + role.role + '</option>');
              $('#trole').append('<option value="' + role.id + '">' + role.role + '</option>');
          });

          $('#trole').val(selectRoleId);
      }
  });
  }

  $('#add_employee').click(function () {

    event.preventDefault();

    var formData = {
      first_name: $('#first_name').val(),
      middle_name: $('#middle_name').val(),
      last_name: $('#last_name').val(),
      address: $('#address').val(),
      barangay: $('#barangay').val(),
      province: $('#province').val(),
      country: $('#country').val(),
      zipcode: $('#zipcode').val(),
      department: $('#dept_select').val(),
      role: $('#type_select').val(),
      status: $('#status_select').val()
    };

    $.ajax({
      url: "http://localhost:3000/employee/action",
      method: "POST",
      data: { action: 'Add', ...formData },
      dataType: "JSON",
      beforeSend: function () {
        $('#add_employee').attr('disabled', 'disabled');
      },
      success: function (response) {
          $('#add_employee').attr('disabled', false);

          $('#message').html('<div class="alert alert-success">' + response.message + '</div>');

          load_data();

          setTimeout(function () {
              $('#message').html('');
          }, 5000);
      }
    });
  });

  $(document).on('click', '.edit', function () { // edit modal show
    $('#department_form').hide();
    $('#sample_form').show();
    $('#leave_form').hide();
    $('#role_form').hide();

    var id = $(this).data('id');

    $('#dynamic_modal_title').text('Edit Data');

    $('#action').val('Edit');

    $('#action_button').text('Edit');

    $('#action_modal').modal('show');

    

    $.ajax({
      url: "http://localhost:3000/employee/action",
      method: "POST",
      data: { id: id, action: 'fetch_single' },
      dataType: "JSON",
      success: function (data) {
        $('#tfirst_name').val(data.fname);
        $('#tmiddle_name').val(data.mname);
        $('#tlast_name').val(data.lname);
        $('#taddress').val(data.address);
        $('#tbarangay').val(data.barangay);
        $('#tprovince').val(data.province);
        $('#tcountry').val(data.country);
        $('#tzipcode').val(data.zipcode);
        $('#tdepartment').val(data.Role_DepartmentID);
        load_roles(data.Role_DepartmentID, data.Designation_RoleID);
        $('#tstatus').val(data.designation_status);
        $('#id').val(data.id);
      }
    });
  });
  $('#sample_form').on('submit', function (event) { //edit modal edit

    event.preventDefault();

    console.log($('#sample_form').serialize());

    $.ajax({
      url: "http://localhost:3000/employee/action",
      method: "POST",
      data: $('#sample_form').serialize(),
      dataType: "JSON",
      beforeSend: function () {
        $('#action_button').attr('disabled', 'disabled');
      },
      success: function (data) {
        $('#action_button').attr('disabled', false);

        $('#message').html('<div class="alert alert-success">' + data.message + '</div>'); // no alert in this html

        $('#action_modal').modal('hide');

        load_data();

        setTimeout(function () {
          $('#message').html('');
        }, 5000);
      }
    });
  });

  $(document).on('click', '.deptbutt', function () { // department modal show
    $('#sample_form').hide();
    $('#role_form').hide();
    $('#leave_form').hide();
    $('#department_form').show();

    $('#department_form_title').text('Add Department');
    $('#deptaction').val('deptadd');
    $('#add_dept_butt').text('Add');
    $('#action_modal').modal('show');
  });
  $('#department_form').on('submit', function (event) { // department modal add
    event.preventDefault();
    
    console.log($('#department_form').serialize());
    $.ajax({
      url: "http://localhost:3000/employee/action",
      method: "POST",
      data: $('#department_form').serialize(),
      dataType: "JSON",
      beforeSend: function () {
        $('#add_dept_butt').attr('disabled', 'disabled');
      },
      success: function (data) {
        $('#add_dept_butt').attr('disabled', false);

        $('#message').html('<div class="alert alert-success">' + data.message + '</div>'); // no alert in this html

        $('#action_modal').modal('hide');

        load_data();

        setTimeout(function () {
          $('#message').html('');
        }, 5000);
      }
    });
  });

  $(document).on('click', '.rolebutt', function () { // Role modal show
    $('#sample_form').hide();
    $('#department_form').hide();
    $('#leave_form').hide();
    $('#role_form').show();
    load_departments();

    $('#role_form_title').text('Add Role');
    $('#roleaction').val('roleadd');
    $('#add_role_butt').text('Add');
    $('#action_modal').modal('show');
  });
  $('#role_form').on('submit', function (event) { // department modal add
    event.preventDefault();
    
    console.log($('#role_form').serialize());
    $.ajax({
      url: "http://localhost:3000/employee/action",
      method: "POST",
      data: $('#role_form').serialize(),
      dataType: "JSON",
      beforeSend: function () {
        $('#add_role_butt').attr('disabled', 'disabled');
      },
      success: function (data) {
        $('#add_role_butt').attr('disabled', false);
        $('#message').html('<div class="alert alert-success">' + data.message + '</div>'); // no alert in this html
        $('#action_modal').modal('hide');

        load_data();

        setTimeout(function () {
          $('#message').html('');
        }, 5000);
      }
    });
  });

  $(document).on('click', '.leavebutt', function () { // leave modal show
    $('#sample_form').hide();
    $('#department_form').hide();
    $('#role_form').hide();
    $('#leave_form').show();
    load_departments();

    $('#leave_form_title').text('Request Leave');
    $('#leaveaction').val('leave');
    $('#leave_butt').text('Request');
    $('#action_modal').modal('show');
  });
  

  $('#dept_select').change(function() { // load roles upon choosing department
    var departmentId = $(this).val();
    
    if (departmentId) {
        load_roles(departmentId, 0);
    } else {
        $('#type_select').empty().prop('disabled', true);
    }
});
  $('#tdepartment').change(function() { // load roles upon choosing department
      var departmentId = $(this).val();
      
      if (departmentId) {
          load_roles(departmentId, 0);
      } else {
          $('#trole').empty().prop('disabled', true);
      }
  });

  $(document).on('click', '.delete', function () {
    var id = $(this).data('id');
    if (confirm("Are you sure you want to delete this data?")) {
      $.ajax({
        url: "http://localhost:3000/employee/action",
        method: "POST",
        data: { action: 'delete', id: id },
        dataType: "JSON",
        success: function (data) {
          $('#message').html('<div class="alert alert-success">' + data.message + '</div>');
          load_data();
          setTimeout(function () {
            $('#message').html('');
          }, 5000);
        }
      });
    }

  });
  });

</script>